{% extends 'base.html.twig' %}
{% block body %}
<div class="formulario-contacto contenedor">
    <div class="informacion-contacto">
        <h3>Contactanos</h3>
        <p><i class="fas fa-map-marker-alt"></i>22. Castelló de la Plana</p>
        <p><i class="fas fa-envelope"></i> chefos@gmail.com</p>
        <p><i class="fas fa-phone-alt"></i>+34 984 483 284</p>
        <div class="redes-sociales">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""></a><i class="fab fa-instagram"></i></a>
        </div>
    </div>

     <form class="formulario" id="formulario">
        <div class="input-formulario">
            <label>Nombre</label>
            <input type="text" placeholder="" id="nombre" name="name">
        </div> <br>
        <div class="input-formulario">
            <label>Apellido</label>
            <input type="text" placeholder="" id="apellidos" name="name2">
        </div> <br>
        <div class="input-formulario">
            <label>Correo</label>
            <input type="email" placeholder="" id="correo" name="email">
        </div> <br>
        <div class="input-formulario">
            <label>Teléfono</label>
            <input type="tel" placeholder="" id="telefono" name="number">
        </div> <br>
        <div class="input-formulario">
            <label>Mensaje</label>
            <textarea id="mensaje" name="area"></textarea>
        </div> <br>
        <div class="input-formulario">
            <label>Fecha</label>
            <input type="text" id="datepicker" name="fecha">
        </div> <br>
        <div class="btn-formulario">
            <input type="submit" class="btn btn-verde" value="Enviar">
        </div>
        
    </form>
</div>

{% endblock %}