{% extends 'base.html.twig' %}
{% block title %}Productos{% endblock %}
{% block body %}

{% include('product/_products.html.twig') %}

<!--<section class="menu contenedor">
    <h2 class="texto-platillos">Menús populares</h2>
    <!--<div class="botones-platillos">
        <button class="todos btn btn-verde">Todos</button>
        <button class="ensaladas btn btn-verde">Ensaladas</button>
        <button class="pasta btn btn-verde">Pasta</button>
        <button class="pizza btn btn-verde">Pizza</button>
        <button class="postres btn btn-verde">Postres</button>
    </div>
    <div class="platillos">
        <div class="platillo" data-platillo="ensalada">
            <img src="./img/beef-2509104_1920.jpg" alt="ensalada">
            <h2>Menú Meatua</h2>
            <p>Menú compuesto por nuestro mejor plato de carne de vacuno.</p>
            <div class="precio">
                <p>140.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img src="./img/burgers-1976198_1920.jpg" alt="ensalada">
            <h2>Menú Goloso</h2>
            <p>Menú compuesto por nuestra mejor hamburguesa de carne de cerdo.</p>
            <div class="precio">
                <p>80.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="ensalada">
            <img src="./img/salad-2068210_1920.jpg" alt="ensalada">
            <h2>Menú Verde</h2>
            <p>Menú compuesto por nuestra mejor ensalada fresca.</p>
            <div class="precio">
                <p>40.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img src="./img/seafood-2408849_1920.jpg" alt="pasta">
            <h2>Menú Azul</h2>
            <p>Menú compuesto por nuestro mejor plato de pulpo a la gallega.</p>
            <div class="precio">
                <p>180.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img src="./img/cake-1971552_1920.jpg" alt="pasta">
            <h2>Menú Sugar</h2>
            <p>Menú compuesto por nuestro postre tiramisu de 5 estrellas.</p>
            <div class="precio">
                <p>$120.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        <div class="platillo" data-platillo="pasta">
            <img src="./img/pasta-3805772_1920.jpg" alt="pasta">
            <h2>Menú Pastaso</h2>
            <p>Menú compuesto por nuestro plato de spaguetti.</p>
            <div class="precio">
                <p>160.00€</p>
                <button><i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
        </div>
</section>-->
{% endblock %}